body {
    padding: 25px;
    font-size: 1.5em;
}

#form-container {
    display: block;
    text-align: center;
}

#inner-form-container {
    display: inline-block;
    text-align: left;
}

#header {
    font-size: 2em;
}
